* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  background-color: #23424a;
  padding: 5em;
}

.intro-content {
  font-family: "Roboto", sans-serif;
  width: 50%;
  max-width: 750px;
  margin: 0 auto;
}

.intro-content h1 {
  font-size: 48px;
  color: white;
}

.intro-content p {
  font-size: 21px;
  font-weight: 300;
  color: white;
  line-height: 46px;
}

.intro-content button {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 21px;
  border-radius: 35px;
  border: none;
  padding: 1em 2em;
  background-color: #38cfd9;
  color: #23424a;
  margin-top: 50px;
}
